<div class="container">
  <div class="comming-soon">
    <div class="jumbotron text-center">
      <h1>OPPS!!</h1>
      <p>The Page You Are Looking For Is Under Construction.</p>
      <p>We will come to you soon.</p>
      <a class="btn btn-primary" href="/">Back</a>
    </div>
  </div>
</div>