<div class="container">
  <div class="jumbotron page-top">
    <h1 class="hidden-xs">Welcome to Engineering Classes</h1>
    <h4 class="visible-xs"><strong>Welcome to Engineering Classes</strong></h4>
    <% if student_signed_in? %>
      <a class="btn btn-primary btn-lg" href="/students/sign_out" data-method="delete">Sign Out</a>
    <% else %>
      <a class="btn btn-primary btn-lg" href="/students/sign_in">Sign In</a>
    <% end %>
  </div>
  <% if student_signed_in? %>
    <div class="text-center well">
      <h2 class="hidden-xs">Choose your semester</h2>
      <h4 class="visible-xs"><strong>Choose your semester</strong></h4>
    </div>
    <div class="text-center semester-links">
      <% current_student.branch.semesters.each do |semester| %>
        <h3><%= link_to "#{semester.name} Semester Notes", "/cs/#{semester.name}-semester" %></h3>
      <% end %>
    </div>
  <% else %>
  <% end %>
</div>