<div class="container">
  <div class="sub-syllabus">
    <h2><strong>UNIT-I</strong></h2>
    <strong>Introduction:</strong>
    <a href="">Historical development</a>,
    <a href="">Vision of Cloud Computing</a>,
    <a href="">Characterstics of cloud computing as per NIST</a>,
    <a href="">Cloud computing references model</a>,
    <a href="">Cloud computing enviornment</a>,
    <a href="">Cloud services requirements</a>,
    <a href="">Cloud and dynamic infracture</a>,
    <a href="">Cloud adoption and rudiments</a>,
    <a href="">Overview of cloud applications</a>,
  </div>
</div>