.page-top {
  margin-top:70px;
}

@media screen and (max-width:767px) {
  .semester-links h3{
    margin-bottom: -1px;
    margin-top: 10px;
    font-size: 17px;
  }
  .subject-link {
    height:250px;
    margin-bottom:10px;
  }

  .subject-title {
    width:98%;
    min-height:200px;
    background-color: #ccc;
    margin-left:1%;
  }
  .subject-title img {
    height:200px;
    width:100%;
    border:1px solid #009688;
  }
  .sub-name h2{
    margin-top:18px;
  }
}

@media screen and (min-width:768px) {
  .semester-links h3{
    margin-bottom: -1px;
    margin-top: 10px;
    font-size: 30px;
  }
  .subject-link {
    height:300px;
  }
  .subject-title {
    width:96%;
    min-height:250px;
    background-color: #000;
    margin-left:2%;
  }
  .subject-title img {
    height:250px;
    width:100%;
    border:1px solid #009688;
  }
  .sub-name h2{
    margin-top:10px;
  }
}

.sub-name h2{
  font-size: 20px;
}


.comming-soon {
  margin-top:100px;
}

.cloud-notes ul{
  list-style: none;
}
